﻿@model MoviesListProject.Models.MOviesTable

@{
    ViewBag.Title = "Details";
}

<head>


</head>


<h2>Details</h2>

<body>

    <div class="row">
        <div class="col-md-6">

            <h4>MOviesTable</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Movieid)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Movieid)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MovieName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MovieName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MovieActor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MovieActor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MovieDirector)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MovieDirector)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MovieReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MovieReleaseDate)
                </dd>

            </dl>
        </div>


        <div class="col-md-6">
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    <img src="~/Images/desktop.png" alt="Alternate Text" class="img-responsive" />
                </dt>
            </dl>
        </div>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>














</body>