﻿@model List<MoviesListProject.Models.MOviesTable>

@{
    Layout = null;
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);

        grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);

    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <h2>Movie List</h2>

    <div class="container-fluid">
        <div class="row">

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <div class="form-group">

                        @Html.Label("Search", new { @class = "col-md-2 control-label" })

                        <div class="col-md-6">
                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search your text here" />
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-primary" type="submit" value="Search">Search</button>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <tr>


                        @*@foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieActor)
                        </td> 
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieDirector)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieReleaseDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Movieid }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Movieid }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Movieid }, new { onclick = "return confirm('Are you sure want to Delete Movie id -" + item.Movieid + " ');" })

                        </td>
                    </tr>
                                }*@

                                    </table>

                <div>

 
                        @grid.Table(
                            tableStyle: "table table-responsive table-bordered",
                            columns: grid.Columns(
                                grid.Column(columnName: "MovieName", header: "Movie Name"),
                                 grid.Column(columnName: "MovieActor", header: "Movie Actor"),
                                  grid.Column(columnName: "MovieDirector", header: "Movie Director"),
                                  grid.Column(columnName: "MovieReleaseDate", header: "Movie Release Date"),
                                  grid.Column(columnName:"Movie Edit",format:
                                  (item) =>Html.ActionLink("Edit","Edit", new { id= item.Movieid})),
                                  grid.Column(columnName: "Movie Detail", format:
                                  (item) => Html.ActionLink("Details", "Details", new { id = item.Movieid })),
                                  grid.Column(columnName:"Movie Delete",format:
                                   (item) => Html.ActionLink("Delete", "Delete", new { id = item.Movieid }, new { onclick = "return confirm('Are you sure want to Delete Movie id -" + item.Movieid + " ');" }))
                                  )



                                // (item) =>Html.ActionLink("Details", "Details", new { id = item.Movieid })



                                )
                            )

                            

                        

                   


]
 
                    <div class="col-sm-6">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>


                    @Html.Hidden("dir", grid.SortDirection)
                    @Html.Hidden("col", grid.SortColumn)

                </div>
                </div>
            </div>
        </div>


        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <script>

            $(function () {
                try {
                    var dir = $('#dir').val();
                    var col = $('#col').val();
                    var header = $("th a[href*=" + col + "]");
                    if (dir == "Ascending") {
                        header.text(header.text() + " <")
                    }
                    if (dir == "Descending") {
                        header.text(header.text() + " >")
                    }
                }
                catch (e) { }
            }
            )
        </script>














    </body>
</html>
